@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg) scale(0.5);
  }
  100% {
    transform: rotate(720deg);
  }
}

.spinclass {
  display: inline-block;
  animation: spin 10s ease;
}

.modifiedtext {
  color: rgb(0, 57, 148);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  text-decoration: underline;
}

.modifiedtext:hover {
  color: red;
  font-weight: bold;
}
