@keyframes wordchange {
  0% {
    font-family: Arial, Helvetica, sans-serif;
    transform: scale(1) translateX(0px) translateY(0px);
  }
  50% {
    font-family: Arial, Helvetica, sans-serif;
    transform: scale(1.3) translateX(-30px) translateY(50px);
    font-weight: bold;
    color: rgb(37, 171, 72);
  }
  100% {
    font-family: Arial, Helvetica, sans-serif;
    transform: scale(1) translateX(0px) translateY(0px);
  }
}

.wordclass {
  animation: wordchange 10s ease;
}
