@use "sitemodifications/huerotate.scss";
@use "sitemodifications/spin.scss";
@use "sitemodifications/words.scss";
@use "../utils/mixins.scss" as *;

body {
  // @include bodyStyling;
}
.square {
  height: 300px;
  width: 300px;
}
